
{% include 'navbar.html' %}
    <!-- Hero section -->
    <div class ="main">
        <div class="main__container">
            <div class="sign-up-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log in</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>
                <form id="login" class="input-group" method="POST">
                    <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
                    <input type="text" id="password" name="password" class="input-field" placeholder="Enter Password" required>
                    <input type="checkbox" class="chech-box"><span>Remember Password</span></input>
                    <button type="submit" class="submit-btn">Log In</button>
                </form>
                <form id="register"class="input-group" method="POST">
                    <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
                    <input type="email" id="email" name="email" class="input-field" placeholder="Email" required>
                    <input type="text" id="password" name="password" class="input-field" placeholder="Enter Password" required>
                    <input type="checkbox" class="chech-box"><span>I agree to the terms and conditions</span></input>
                    <button type="submit" class="submit-btn">Create Account</button>
                </form>
            </div>
        </div>
    </div>

   <script>
    var x = document.getElementById("login");
    var y = document.getElementById("register");

    var z = document.getElementById("btn");

    function register(){
        x.style.left="-400px";
        y.style.left="65px";
        z.style.left="110px";
    }
    function login(){
        x.style.left="65px";
        y.style.left="500px";
        z.style.left="0px";
    }

   </script>

    {% include 'footer.html' %}
