<link rel="stylesheet" href="styles.css">

    <!-- Hero section -->
    <div class ="main">
        <div class="main__container">
            <div class="main__content">
                <h1>COMING</h1>
                <h2>SOON</h2>
                <div></div>
                <p></p>
                <button class="main__button"><a href="/">Get Started</a></button>

            </div>
        </div>
    </div>


    
    <script src="app.js"></script>
    <script src="https://kit.fontawesome.com/2d5898790e.js" crossorigin="anonymous"></script>