<footer class="social-footer">
  <div class="social-footer-left">@ 2023 No Rights reserved</div>
  <div class="social-footer-icons">
    <a href="https://www.facebook.com/"
      ><i class="fa fa-facebook" aria-hidden="true"></i
    ></a>
    <a href="https://www.instagram.com/?hl=en"
      ><i class="fa fa-instagram" aria-hidden="true"></i
    ></a>
    <a href="https://www.pinterest.com/"
      ><i class="fa fa-pinterest-p" aria-hidden="true"></i
    ></a>
    <a href="https://twitter.com/?lang=en"
      ><i class="fa fa-twitter" aria-hidden="true"></i
    ></a>
  </div>
</footer>

<script src="static/app.js"></script>
<script
  src="https://kit.fontawesome.com/2d5898790e.js"
  crossorigin="anonymous"
></script>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<script>
  // Initialize Sortable
  const sortable = new Sortable(document.getElementById("sortable-body"), {
    animation: 150, // Optional: Set animation duration (in milliseconds)
    onUpdate: function (evt) {
      const rows = evt.from.children;
      for (let i = 0; i < rows.length; i++) {
        const rankCell = rows[i].querySelector("td:first-child");
        rankCell.textContent = i + 1;
      }
      // This function is called when the order changes
      // You can send an AJAX request to update the order on the server if needed
      console.log("Order updated:", evt.newIndex, evt.oldIndex);
    },
  });
</script>
