:root {
    --primary-color: #38ef7d;
    --secondary-color: #0E8388; 
    --nav-button-color: #11998e; 
    --background-color: #2c3333; 
    --data-color: #CBE4DE; 
    --navbar-footer-color: #131616; 
}